h1{
    font-size: medium;
    color: blue;
    background-color: aqua;
}

.info{
    display: flex;
    font-size: small;
}

a:hover{
    color: green;
}
a:link{
    color: blue;
}

.description{
    display: flex;
    text-align: justify;

}

.objectifs{
    display: block;
    list-style: inside;


}

a:link{
    color: blue;
}
 .departements{
     text-align: left;
     text-indent: 10px;
     


 }