.content-container {
  min-height: calc(100vh - 34px);
}
.footer--pin {
  position: relative;
  left: 0;
  bottom: 0;
}
body::-webkit-scrollbar {
  display: none;
}
.right::-webkit-scrollbar {
  display: none;
}

.split {
  height: 100%;
  width: 80.2%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
}
.body{
  width: 100%;
  min-width: 600px;
  min-height: 600px;
}

.left {
  left: 0;
  
}

.right {
  right: 0;
 
}